<div class="container">  
  <h1> Customer </h1>    
  <table class="table table-striped">  
    <thead>  
        <tr>  
          <th>sku</th>  
          <th>effectiveDate</th>  
          <th>primeCostPerCase</th>  
          <th>foreignPrimeCostPerCase</th>  
          <th>currencyLabel</th>  
          <th>currencyRate</th>  
          <th>currencyEffectiveDate</th>  
          <th>dutyPaidCostPerCase</th> 
          <th>domesticChargesPerCase</th>  
          <th>estimatedPricePerSU</th>  
          <th>costOnly</th>  
          <th>basisNumber</th> 
          <th>comment</th>  
          <th>externalReferenceID</th>  
          <th>lastUpdatedBy</th>  
        </tr>  
    </thead>  
    <tbody>  
      <tr *ngFor="let cost of costs">  
        <td>{{ cost.sku }}</td>  
        <td>{{ cost.effectiveDate }}</td>  
        <td>{{ cost.primeCostPerCase }}</td>  
        <td>{{ cost.foreignPrimeCostPerCase }}</td>  
        <td>{{ cost.currencyLabel }}</td>  
        <td>{{ cost.currencyRate }}</td>  
        <td>{{ cost.currencyEffectiveDate }}</td>  
        <td>{{ cost.dutyPaidCostPerCase }}</td>  
        <td>{{ cost.domesticChargesPerCase }}</td>  
        <td>{{ cost.estimatedPricePerSU }}</td>  
        <td>{{ cost.costOnly }}</td>  
        <td>{{ cost.basisNumber }}</td>  
        <td>{{ cost.comment }}</td>  
        <td>{{ cost.externalReferenceID }}</td>  
        <td>{{ cost.lastUpdatedBy }}</td>  
      </tr>  
    </tbody>  
  </table>  
</div>  